
main {
    background-color: #CBD8C1;
}

.search {
    display: none;
}

li {
    background-color: white;
    margin: 80px;
    color: #707070;
    border-radius: 15px;
    border: 2px solid #9f9f9f;
}

.list-img img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 60vw;
    object-fit: cover;
}

.title-btn {
    margin: 25px;
    text-align: center;
}

.title-btn > h2 {
    margin: 15px 0;
    font-size: 4rem;
    text-align: left;
}

.more-btn {
    color: white;
    text-decoration: none;
    padding: 25px 80px;
    background-color: #EC7A23;
    border-radius: 5px;
    margin: 20px 0;
    font-size: 2.5rem;
    display: inline-block;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
    
.pagination a {
    color: #707070;
    background-color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #9f9f9f;
}

a + a {
    margin-left: -1px;
}
    
.pagination a.active {
    background-color: #434A3E;
    color: white;
    border: 1px solid #434A3E;
}
    
.pagination a:hover:not(.active) {
    background-color: #9f9f9f;
}
    
.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
    
.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* ___________________________________________________________ */

@media only screen and (min-width: 992px) {

    .search {
        display: flex;
        justify-content: center;
        margin: 50px 0 30px 0;
    }

    .search > h2 {
        display: inline-block;
        color: #434A3E;
        font-size: 2.3rem;
        font-weight: 700;
        margin-right: 5rem;
    }

    .search > input {
        width: 50%;
        height: 40px;
        margin-left: 5rem;
        border: 1px solid #cecccc;
    }

    .search-svg {
        height: 40px;
        width: 40px;
        background-color: white;
        color: #9f9f9f;
        border: 1px solid #cecccc;
    }

     input + .search-svg {
        margin-left: -1px;
    }

    .search-svg svg {
        width: 20px;
        margin-top: 5px;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
        grid-auto-flow: dense;
    }

    ul {
        margin: 30px 50px;
    }

    li {
        margin: 10px;
        border-radius: 5px;
        border: 1px solid #9f9f9f;
    }

    .list-img {
        width: 100%;
        height: 15em;
        overflow: hidden;
    }

    .list-img img {
        border-radius: 5px 5px 0 0;
        height: 20vw;
    }

    .title-btn > h2 {
        margin: 20px 0;
        font-size: 1.5rem;
        height: 100%;
    }

    .more-btn {
        float: right;
        margin-bottom: 15px;
        font-size: 1rem;
        padding: 15px 50px;
        border-radius: 3px;
    }
} 

@media only screen and (min-width: 2048px) {

    .list-img {
        height: 20em;
    }
}