html, body {
    margin: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8fr auto;
    grid-template-areas: 
            "header"
            "footer";
}

header {
    background-color: #CBD8C1;
    grid-area: header;  
    color: #707070;
    text-align: center;
    display: grid;
    font-size: 3rem;
}

.title {
    align-self: center;
}

.title > p:first-child {
    font-family: 'Pacifico', cursive;
    font-size: 10rem;
}

.title > p {
    margin: 60px;
}

.see-goods-btn {
    margin-top: 200px;
    font-size: 5rem;
}

a {
    text-decoration: none;
    color: white;
    padding: 30px 100px;
    background-color: #EC7A23;
    border-radius: 5px;
}

/* ___________________________________________________________ */

@media only screen and (min-width: 992px) {
    
    header {
        font-size: 2rem;
    }

    .title {
        margin: 8rem;
    }

    .title > p:first-child {
        font-size: 5rem;
    }

    .see-goods-btn {
        font-size: 2.5rem; 
        margin-top: 120px;
    }

    a {
        padding: 20px 60px;
    }
} 